.card {
    position: relative;
    margin: 8px;
    width: 220px;
    height: 252px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
}

.card header {
    color: black;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    text-decoration: none;
    padding-left: 24px;
    padding-top: 17px;
    padding-bottom: 14px;
}

.imgHolder {
    padding: 20px 28px 24px 24px;
}

.imgHolder img {
    width: 104px;
    height: 104px;
    display: block;
    margin: auto auto;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 8px;
    padding: 32px 48px 0px;
}

.App {
    max-width: 100%;
    height: 100%;
}

#root {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: rgba(85, 166, 156, 1);
    min-width: 550px;
}

.navButton {
    height: 64px;
    width: 64px;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 64px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navButton:hover {
    background-color: rgba(0, 0, 0, .5);
}

.navButton span {
    height: 16px;
    width: 16px;
}

#forwardButton {
    position: absolute;
    top: 56px;
    right: 72px;
}

#backButton {
    position: absolute;
    top: 56px;
    left: 72px;
}

.searchBar {
    padding-top: 40px;
}

.searchBox {
    margin: 0 auto;
    height: 96px;
    width: 456px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 7px;
}

.searchBox span {
    padding: 40px;
    height: 17px;
    width: 17px;
    color: rgba(255, 255, 255, 1);
    vertical-align: top;
}

.searchBox input {
    width: 280px;
    font-family: 'Roboto';
    font-size: 72px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 5px;
    outline: none;
}

#bottomNavBar {
    display: none;
}

.card .pkmnType {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 20px;
    width: 25px;
    font-family: 'San Francisco';
    font-size: 12px;
    margin: 4px;
    padding: 4px;
}

.card .pkmnTypesHolder {
    position: absolute;
    right: 0px;
    display: inline-block;
    padding-right: 24px;
}

.details {
    position: relative;
    height: 784px;
    width: 664px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    margin: 168px auto 72px;
}
.details header {
    height: 55px;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.detailsHeader {
    position: absolute;
    top: 17px;
    left: 24px;
}

.details .nameDetail {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    line-height: 24px;
    padding-right: 12px;
}

.details .idDetail {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.32);
    text-align: left;
    line-height: 24px;
}

.details .pkmnType {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 22px;
    width: 20px;
    font-family: 'San Francisco';
    font-size: 12px;
    margin: 4px;
    padding: 4px;
    line-height: 20px;
}

.details .pkmnTypesHolder {
    position: absolute;
    top: 19px;
    right: 0px;
    display: inline-block;
    padding-right: 16px;
}

.detailsImg {
    display: block;
    position: absolute;
    top: 90px;
    left: 72px;
    height: 130px;
    width: 130px;
}

.statsBox {
    position: absolute;
    padding-right: 72px;
    right: 0px;
    padding-top: 34px;
}
.statName {
    float: left;
}

.statBarHolder {
    height: 18px;
    margin-bottom: 4px;
}

.statProgressBarHolder {
    display: inline-block;
    float: right;
    height: 18px;
    width: 188px;
    margin-left: 48px;
    background-color: rgba(146, 146, 146, 1);
}

.statProgressBarValue {
    background-color: rgba(0, 146, 0, 1);
}
.statProgressBarValue span {
    padding-left: 6px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto';
    font-size: 14px;
}


@media screen and (max-width: 790px) {
    body {
        min-width: 320px;
        padding: 0px 8px;
    }

    .card {
        height: 196px;
        width: 148px;
        margin: 4px;
    }

    .cardList {
        grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
        padding: 0px;
        grid-gap: 0px;
    }

    #bottomNavBar {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 48px;
        width: 100%;
        background-color: rgba(64, 126, 118, 0.8);
    }

    .navButton {
        height: 52px;
        width: 96px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0px;
        z-index: 1;
    }

    #forwardButton {
        bottom: 0px;
        top: auto;
        right: 32px;
        text-align: right;
    }

    #backButton {
        bottom: 0px;
        top: auto;
        left: 32px;
        text-align: left;
    }

    .searchBar {
        padding-top: 16px;
    }

    .searchBox {
        height: 48px;
        width: 100%;
    }

    .searchBox input {
        width: 131px;
        font-size: 18px;
        margin: 12px;
    }

    .searchBox span {
        padding: 16px;
    }

    .card .pkmnType {
        display: none;
    }
}
