.card {
    position: relative;
    margin: 8px;
    width: 220px;
    height: 252px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
}

.cardHeader {
    color: black;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    text-decoration: none;
    padding: 17px 24px 14px;
    font: 700 16px/24px 'Roboto';
}

.imgHolder {
    padding: 20px 28px 24px 24px;
    width: 104px;
    height: 104px;
    display: block;
    margin: auto;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 8px;
    padding: 32px 48px 0;
}

body {
    background-color: rgba(85, 166, 156, 1);
}

.navHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.navButton {
    margin: 16px 72px;
    height: 64px;
    width: 64px;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 64px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.navButton:hover {
    background-color: rgba(0, 0, 0, .5);
}

.searchBox {
    margin: 0 auto;
    height: 96px;
    max-width: 624px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    display: flex;
    flex-grow: 1;
}

.searchBox span {
    font-size: 22px;
    padding: 40px;
    height: 22px;
    width: 22px;
    color: rgba(255, 255, 255, 1);
    vertical-align: top;
}

#clearSearch {
    float: right;
}

#searchTerm {
    width: 280px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    flex-grow: 1;
    font: 700 72px/24px 'Roboto';
}

#bottomNavBar {
    display: none;
}

.pkmnType {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 20px;
    width: 25px;
    margin: 4px;
    padding: 4px;
    font: 12px 'San Francisco';
}

.pkmnTypesHolder {
    position: absolute;
    display: inline-block;
    right: 0px;
    padding-right: 24px;
}

.details {
    position: relative;
    height: 784px;
    width: 664px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    margin: 168px auto 72px;
}

.detailsNameJumbo {
    position: absolute;
    top: -88px;
    height: 24px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font: 700 72px/24px 'Roboto';
}

.details > header {
    height: 55px;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.detailsName {
    position: absolute;
    top: 17px;
    left: 24px;
}

.details .nameDetail {
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    padding-right: 12px;
    font: 700 16px/24px 'Roboto';
}

.details .idDetail {
    color: rgba(0, 0, 0, 0.32);
    text-align: left;
    font: 700 16px/24px 'Roboto';
}

.details .pkmnType {
    height: 22px;
    width: 20px;
    line-height: 20px;
}

.details .pkmnTypesHolder {
    top: 19px;
    padding-right: 16px;
}

.detailsContainer {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    height: 784px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
}

.detailsImg {
    display: inline-block;
    position: relative;
    top: 32px;
    left: 72px;
    height: 130px;
    width: 130px;
}

.statsBox {
    display: inline-block;
    position: relative;
    left: 164px;
    top: 32px;
}

.statName {
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font: 700 16px/22px 'Roboto';
}

.statBarHolder {
    height: 18px;
    margin-bottom: 4px;
}

.statProgressBarHolder {
    display: inline-block;
    float: right;
    height: 18px;
    width: 188px;
    margin-left: 48px;
    background-color: rgba(146, 146, 146, 1);
}

.statProgressBarValue {
    background-color: rgba(0, 146, 0, 1);
}

.statBarValueOverlay {
    padding-left: 6px;
    color: rgba(255, 255, 255, 1);
    font: 14px 'Roboto';
}

.detailsBackButton {
    position: absolute;
    top: 0px;
    margin-top: 56px;
}

.detailsBio {
    position: relative;
    top: 64px;
    left: 56px;
    width: 552px;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    font: 16px/24px 'Roboto';
}

.detailsGenus {
    font-weight: bold;
    padding-bottom: 8px;
}

.detailsSection {
    position: relative;
    left: 56px;
    top: 96px;
}

.detailsSectionHeader {
    height: 32px;
    width: 584px;
    color: white;
    margin: 0px -16px;
}

.detailsSectionHeader span {
    display: inline-block;
    padding: 4px 16px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font: 700 16px/24px 'Roboto';
}

.profileEntry {
    padding: 8px;
    width: 276px;
    display: inline-block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    font: 16px/24px 'Roboto';
}

.entryName {
    width: 100px;
    font-family: 'Roboto';
    font-weight: bold;
}

.entryValue {
    text-transform: capitalize;
}

.entryValueHolder {
    display: inline;
    float: right;
    padding-right: 32px;
    width: 117px;
    overflow-wrap: normal;
}

@media screen and (max-width: 790px) {
    body {
        min-width: 320px;
        padding: 0px 8px;
    }

    .card {
        height: 196px;
        width: 148px;
        margin: 4px;
    }

    .cardList {
        grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
        padding: 0px;
        grid-gap: 0px;
        padding-top: 80px;
        padding-bottom: 48px;
    }

    #bottomNavBar {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 48px;
        width: 100%;
        background-color: rgba(64, 126, 118, 0.8);
    }

    .navHeader {
        padding-top: 0px;
    }

    .navButton {
        position: fixed;
        height: 48px;
        width: 96px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0px;
        z-index: 1;
        margin: 0px;
        bottom: 0px;
    }

    #forwardButton {
        right: 32px;
    }

    #backButton {
        left: 32px;
    }

    .searchBox {
        position: fixed;
        width: calc(100% - 16px);
        z-index: 1;
        height: 48px;
        margin-top: 16px;
    }

    #searchTerm {
        font-size: 32px;
    }

    .searchBox span {
        padding: 16px;
    }

    #clearSearch {
        visibility: hidden;
    }

    .card .pkmnType {
        display: none;
    }

    .pkmnTypesHolder {
        left: 16px;
    }

    .details {
        position: absolute;
        height: 536px;
        width: auto;
        min-width: 304px;
        right: 8px;
        left: 8px;
        margin: 64px 8px 16px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .detailsContainer {
        overflow: auto;
        overflow-x: hidden;
    }

    .detailsNameJumbo {
        display: none;
    }

    .detailsName {
        position: fixed;
        top: 26px;
        left: 56px;
    }

    .details .nameDetail {
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
    }

    .details .idDetail {
        font-size: 18px;
        color: rgba(255, 255, 255, .85);
    }

    .detailsImg {
        position: fixed;
        top: 8px;
        right: 24px;
        left: auto;
        height: 96px;
        width: 96px;
    }

    .statsBox {
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 34px;
        width: calc(100% - 16px);
        left: auto;
        top: auto;
    }

    .statName {
        font-weight: normal;
    }

    .statBarHolder {
        height: 18px;
        margin-bottom: 4px;
    }

    .statProgressBarHolder {
        margin-left: 24px;
    }

    .detailsBio {
        position: relative;
        top: 24px;
        left: 16px;
        padding-right: 24px;
        width: auto;
    }

    .detailsSection {
        position: relative;
        top: 32px;
        left: 16px;
    }

    .detailsSectionHeader {
        width: auto;
        color: white;
        margin: 0px;
        margin-right: 24px;
    }

    #profile {
        top: 32px;
    }

    #whenAttacked {
        top: 32px;
    }

    .profileEntry {
        width: 216px;
    }

    .entryValueHolder {
        padding-right: 0px;
    }

    .detailsBackButton {
        position: fixed !important;
        top: 30px !important;
        left: 16px !important;
        bottom: auto !important;
        height: 16px;
        width: 16px;
        background-color: rgba(0, 0, 0, 0);
    }

    .detailsBackButton:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}
